/*
字体  Font: SourceHanSans
LICENSE: https://github.com/adobe-fonts/source-han-sans/blob/master/LICENSE.txt
*/
@font-face {
    font-family: '思源黑体 CN';
    font-weight: 300;
    src: url("SourceHanSansCN-Light.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: '思源黑体 CN';
    font-weight: 400;
    src: url("SourceHanSansCN-Normal.otf") format('opentype');
    font-style: normal;
}

@font-face {
    font-family: '思源黑体 CN';
    font-weight: 500;
    src: url("SourceHanSansCN-Medium.otf") format('opentype');
    font-style: normal;
}

/*
代码块字体  Code block font: Fira Code
LICENSE: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
*/
@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}